{% extends 'base/base.html' %}

{% load staticfiles %}

{% block pagetitle %}Home{% endblock pagetitle %}

{% block pagedescription %}The personal and professional web log of Jonathan Sawyer.{% endblock pagedescription %}

{% block appcopyright %}
   {% block copyright %}
      <link rel="copyright" href="{% url 'copyright' %}">
   {% endblock copyright %}  
{% endblock appcopyright %}

{% block appfavicon %}
   {% block favicon %}
      <link rel="shortcut icon" href="{% static 'www/favicon.jpg' %}" type="image/jpeg" />
   {% endblock favicon %}
{% endblock appfavicon %}

{% block appstylesheets %}
   <link rel="stylesheet" href="{% static 'site/site.css' %}">
   <link rel="stylesheet" href="{% static 'www/www.css' %}">
   <link rel="stylesheet" href="{% static 'www/header.css' %}">
   <link rel="stylesheet" href="{% static 'www/breadcrumbs.css' %}">
   <link rel="stylesheet" href="{% static 'www/footer.css' %}">
   <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
   <link rel="stylesheet" href="{% static 'www/syntaxhighlighter_3.0.83/styles/shCore.css' %}">
   <link rel="stylesheet" href="{% static 'www/syntaxhighlighter_3.0.83/styles/shThemeDefault.css' %}">
   {% block stylesheets %}{% endblock stylesheets %}
{% endblock appstylesheets %}

{% block appjavascripts %}
   {% block javascripts %}{% endblock javascripts %}
{% endblock appjavascripts %}

{% block appscripts %}
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shCore.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushBash.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushCpp.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushCSharp.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushCss.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushDiff.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushJava.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushPhp.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushPlain.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushPowerShell.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushPython.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushSql.js' %}"></script>
   <script src="{% static 'www/syntaxhighlighter_3.0.83/scripts/shBrushXml.js' %}"></script>
   <script>
       SyntaxHighlighter.all();
       //$(document).ready(function() { $('.syntaxhighlighter .toolbar').remove(); });
   </script>
   {% block scripts %}{% endblock scripts %}
{% endblock appscripts %}

{% block appstyles %}
   {% block styles %}{% endblock styles %}
{% endblock appstyles %}

{% block appheader %}
   {% block header %}
      {% include 'www/header.html' %}
   {% endblock header %}
{% endblock appheader %}

{% block appbreadcrumbs %}
   {% block breadcrumbs %}
      {% include 'www/breadcrumbs.html' %}
   {% endblock breadcrumbs %}
{% endblock appbreadcrumbs %}

{% block appcontent %}
   {% block content %}Blog Home{% endblock content %}
{% endblock appcontent %}

{% block appfooter %}
   {% block footer %}
      {% include 'www/footer.html' %}
   {% endblock footer %}
{% endblock appfooter %}

