{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block pagetitle %}Blog{% endblock pagetitle %}

{% block content %}
{% for blog in blogs %}
  <div class="blog">
    <article class="blog">
      <header id="blog_title">
        <h1 class="title"><a href="{% url 'blog' slug=blog.slug %}">{{ blog.title }}</a></h1>
        {% if blog.tagline %}<h2 class="tagline">{{ blog.tagline }}</h2>{% endif %}
      </header>
      <section id="blog_pubinfo">
        <time class="created" pubdate="{{ block.created_at }}">Created at: {{ blog.created_at }}</time>
        <div class="author"><em>By {{ blog.author }}</em></div>
      </section>
      <section id="blog_content">
        <div class="content">{{ blog.content|markdown:"trusted" }}</div>
      </section>
      <footer id="blog_tags">
        <div class="tags">{% for tag in blog.list_tags %}[{{ tag }}]{% endfor %}</div>
      </footer>
    </article>
  </div>
{% endfor %}
{% endblock %}

