<!DOCTYPE html>
<html>
  <title>{% block pagetitle %}Jon M Sawyer .com{% endblock pagetitle %} - Jon M Sawyer .com</title>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Jonathan Sawyer <jonmsawyer (AT) gmail (DOT) com>">
    <meta name="description" content="{% block pagedescription %}The personal and professional website of Jonathan Sawyer.{% endblock pagedescription %}">
{% block appcopyright %}{% endblock appcopyright %}
{% block appfavicon %}{% endblock appfavicon %}
{% block appstylesheets %}{% endblock appstylesheets %}
{% block appjavascripts %}{% endblock appjavascripts %}
  </head>
  <body>
    <div id="wrap">
{% block appheader %}{% endblock appheader %}
{% block appcontent %}{% endblock appcontent %}
{% block appfooter %}{% endblock appfooter %}
    </div><!-- end div#wrap -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% block appstyles %}{% endblock appstyles %}
{% block appscripts %}{% endblock appscripts %}
  </body>
</html>

