{% load staticfiles %}<!DOCTYPE html>
<html>
    <title>{% block pagetitle %}BASE{% endblock pagetitle %} - Jon M Sawyer .com</title>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Jonathan Sawyer <jonmsawyer (AT) gmail (DOT) com>">
        <meta name="description" content="The personal, and professional, website of Jonathan Sawyer.">
        <link rel="copyright" href="{% url 'copyright' %}">
{% block favicon %}{% endblock favicon %}

        <link rel="stylesheet" href="{% static 'site/site.css' %}">
{% block stylesheets %}{% endblock stylesheets %}

{% block javascripts %}{% endblock javascripts %}
    </head>

    <body>
    <div id="wrap">
    <header id="header" class="clearfix" role="banner">
{% block header %}{% include 'www/header.html' %}{% endblock header %}
    </header>
{% block content %}{% endblock content %}
    </body>
    <footer>
{% block footer %}{% include 'www/footer.html' %}{% endblock footer %}
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% block styles %}{% endblock styles %}
{% block scripts %}{% endblock scripts %}
</html>

