/* Global WWW app styles */

body {
    background: url('/static/www/bg2.jpg') #888 repeat fixed;
    color: #000;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 130%;
}

p {
    margin: 0px 0px 0.8em;
}

a {
    text-decoration: none;
    color: #2E70B1;
    transition: color 0.2s ease-in-out 0s;
}

