{% load staticfiles %}

{% block header %}
  <header id="header" class="clearfix" role="banner">
    <div>
      <div id="logo">
        <a href="/" title="Jon M Sawyer .com Home" title="Jon M Sawyer .com Home"><img src="{% static 'www/logo.jpg' %}" alt="Picture of Jonathan Sawyer" /></a>
      </div>
      <hgroup id="sitename">
        <h2><a href="/" title="Home">Jon M Sawyer</a></h2>
        <p>Code, philosophy, and just plain awesomeness.</p>
      </hgroup>
    </div>
    <nav id="navigation" class="clearfix" role="navigation">
      <div id="main-menu">
        <ul class="menu">
          <li class="first leaf"><a href="{% url 'home' %}" class="{{home_active}}">Home</a></li>
          <li class="leaf"><a href="{% url 'blog_index' %}" class="{{blog_active}}">Blog</a></li>
          <li class="leaf"><a href="{% url 'admin:index' %}" class="{{admin_active}}">Admin</a></li>
          <li class="last leaf"><a href="https://github.com/jonmsawyer" title="Fork me on GitHub!" class="{{github_active}}">My Github</a></li>
        </ul>
      </div>
    </nav>
  </header>
{% endblock header %}

